@tailwind utilities;
@import "tailwindcss/preflight";
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CustomFont", sans-serif;
}

@font-face {
  font-family: "CustomFont";
  src: url("../src/assets/fonts/font.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
